/*------------------ css reset -------------------------*/

* {
    margin: 0;
    font-size: 100%;
}

body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    line-height: 1.5em;
    background-color: white;
    font-size: 1em;
    font-family: 'dosis', sans-serif;
    color: black;
    float: left;
}


/*------------------- typography --------------------------*/



section.welcome h2 {
    letter-spacing: 0.01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2em;
    padding-top: 25%;
    padding-left: 30%;
    font-family: 'dosis', sans-serif;
    font-weight: normal;
    color: white;
}

section.welcome {
    background: white;
    margin: auto;
    padding-bottom: 20vh;
    padding-top: 2em;
}

#sulfur img {
        max-height: 300px;
        max-width: 300px;
        margin-left: 60vw;
    }

.about-sulfur {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: white;
    font-size: 1.75em;
    float: left;
    max-height: 100vh;
}

.aboutsulfur h2 {
    
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}
#back-button {
    margin-left: 20px;
    float: left;
}

/*------------------------------------ Footer ---------------------------------------*/

.footer {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: #C497C5;
    font-size: 1.75em;
    font-family: 'dosis', sans-serif;
}

/*--- paragraphs ---*/

p {
    line-height: 1.65em;
    letter-spacing: .01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: .75em;
    font-family: 'dosis', sans-serif;
    font-weight: normal;
    color: black;
}