/*------------------ css reset -------------------------*/

* {
    margin: 0;
    font-size: 100%;
}

body {
    width: 100%;
    max-width: 100%;
    margin: auto;
    line-height: 1.5em;
    background-color: white;
    font-size: 1em;
    font-family: 'dosis', sans-serif;
    color: black;
    float: left;
}


/*------------------- typography --------------------------*/

section.welcome h2 {
    letter-spacing: 0.01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 2em;
    padding-top: 25%;
    padding-left: 30%;
    font-family: 'dosis', sans-serif;
    font-weight: normal;
    color: white;
}

section.welcome {
    background: white;
    margin: auto;
    padding-bottom: 20vh;
    padding-top: 2em;
}

#sulfur img {
        max-height: 300px;
        max-width: 300px;
        float: left;
    
    
}

.about-sulfur {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: white;
    font-size: 1.75em;
    padding-bottom: .5em;
    float: left;
}

#cards {
    line-height: 1em;
    max-width: 100%;
    margin: auto;
    padding-top: 1em;
}

section.cards h2 {
    line-height: 1.65em;
    letter-spacing: .01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1em;
    font-family: 'dosis', sans-serif;
    font-weight: normal;
    color: gray;
    padding-top: .5em;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}


/*------------------------------------ Footer ---------------------------------------*/


/*------ social media links ----*/

.contact {
    width: 100%;
    line-height: 1em;
    margin: auto;
    background-color: #C497C5;
    font-size: 1.75em;
    padding-bottom: 4em;
    padding-top: 2em;
    float: left;
    font-family: 'dosis', sans-serif;
}

section.contact h1 {
    line-height: 1em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1em;
    font-family: 'dosis', sans-serif;
    color: white;
}

section.contact li {
    display: inline;
}

section.contact ul {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-right: 2.5em;
}

section.contact img {
    max-height: 5em;
    max-width: 5em;
    padding-top: 1em;
}


/*--- paragraphs ---*/

p {
    line-height: 1.65em;
    letter-spacing: .01em;
    max-width: 100%;
    text-align: center;
    margin: auto;
    font-size: .75em;
    font-family: 'dosis', sans-serif;
    font-weight: normal;
    color: black;
}